<nav class="navbar">
  <form class="navbar-brand ml-auto">
    <img src="https://cdn2.iconfinder.com/data/icons/rcons-user/32/male-shadow-circle-512.png" width="30" height="30"
         class="d-inline-block align-top" alt="">
    Alexander Olmedo
  </form>
</nav>
<div class="row">
  <div class="col-sm-8">
  </div>

  <div class="col-sm-4">

      <form class="form-inline">
        <input class="form-control" type="search" placeholder="Buscar Usuario, Conductor o Modelo" aria-label="Search">
        <button class="btn btn-success" type="submit">Buscar</button>
      </form>
  </div>

</div>
<br>
<br>
<app-usuario></app-usuario>
<br>
<br>
<app-autor></app-autor>
<br>
<br>
<app-libro></app-libro>
<br>
