<div class="card">

  <div class="row">
    <div class="col-sm-4">
      <img class="card-img align-self-center"
           src="https://cdn1.iconfinder.com/data/icons/occupations-3/100/07-512.png" alt="Conductor"
           style="width: 125px">
    </div>

    <div class="col-sm-8">
      <div class="card-body">
        <p class="card-text">Conductor: {{conductorNombres}} {{conductorApellidos}}</p>
        <p class="card-text">Fecha de Nacimiento: {{conductorFechaNacimiento}}</p>
        <p class="card-text">Numero autos: {{conductorNumeroAutos}}</p>
        <p class="card-text">Licencia Valida: {{conductorLicenciaValida}}</p>
      </div>
    </div>
  </div>
</div>
